fastapi
uvicorn
tensorflow==2.19.0
tensorflow-io-gcs-filesystem>=0.25.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
spacy==3.7.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pydantic
scikit-learn
numpy
pandas
requests
streamlit==1.44.0
gdown==5.2.0
tensorflow==2.19.0
Pillow==10.0.1
scipy==1.11.2
numpy==1.26.4
