fastapi
uvicorn
tensorflow==2.19.0
tensorflow-io-gcs-filesystem>=0.25.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
spacy==3.7.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
streamlit
pydantic
scikit-learn
numpy
pandas
requests
